.apo-logo-img {
    width: 62px;
    height: 62px;

    object-fit: contain;

    border-radius: 12px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand-text {
    display: flex;
    flex-direction: column;
}

.brand-text strong {
    font-size: 14px;
    font-weight: 900;
}

.brand-text span {
    margin-top: 3px;

    color: #858c9b;

    font-size: 8px;
    font-weight: 700;
    letter-spacing: 1px;
}
